<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* Add the styles from site.css here */
        .card-container {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            margin-top: 20px;
        }

        .form-content {
            margin-left: 50px;
        }

        .card-header {
            text-align: center;
            margin-bottom: 20px;
        }

        .error-message {
            color: red;
        }

        .submit-button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 120px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .center-column {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Adjust this if needed for the card height */
        }

        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    </style>

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ZeroHunger", "Login", "ZeroHunger", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
