@model ZeroHungerAgnmt.Models.SignUpDTO

@{
    ViewBag.Title = "SignUp - Zero Hunger";
}

<title>SignUp For restaurant</title>

<body>
    <div class="container">
        <div class="row center-column">
            <div class="col-md-6">
                <div class="card-container ">
                    <h2 class="card-header">SignUp Resturent</h2>

                    <form method="post" class="form-content">

                        <div class="form-group">
                            <input name="RName" type="text" class="form-control" placeholder="Restaurant Name" value="@(Model != null ? Model.RName : "")">
                            <span class="text-danger"><b>@Html.ValidationMessage("RName")</b></span>
                        </div>

                        <div class="form-group">
                            <input name="Email" type="email" class="form-control" placeholder="Email" value="@(Model != null ? Model.Email : "")">
                            <span class="text-danger"><b>@Html.ValidationMessage("Email")</b></span>
                        </div>

                        <div class="form-group">
                            <input name="Password" type="password" class="form-control" placeholder="Password" value="@(Model != null ? Model.Password : "")">
                            <span class="text-danger"><b>@Html.ValidationMessage("Password")</b></span>
                        </div>

                        <div class="form-group">
                            <textarea name="Address" class="form-control" placeholder="Address" rows="4">@(Model != null ? Model.Address : "")</textarea>
                            <span class="text-danger"><b>@Html.ValidationMessage("Address")</b></span>
                        </div>

                        <input type="radio" name="AccountType" value="2000" style="display:none;" checked>

                        <div class="form-group mt-3">
                            <input type="submit" class="submit-button" value="Sign Up">
                        </div>
                        <b>@Html.ActionLink("Have an Account? LogIn", "LogIn")</b>
                    </form>
                    </div>
                </div>
            </div>

                   
                   
                </div>
</body>
